
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta content="telephone=no,email=no,address=no" name="format-detection">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    	<meta name="applicable-device" content="mobile">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="TTNrUnE4V1cVWzomP30jBxVXLzUzQSUQBgQOGEhOFRQiVAQfFAsZIA==">
    <title>票务拍卖</title>
    <meta name="keywords" content="有票,有票网,买票,卖票,演出票,票务网,中国票务网">
<meta name="description" content="有票（ypiao.com），粉丝买票卖票必备工具。买票贵？买不到票？来有票，那都不是事！">
<link href="static/css/didi.css" rel="stylesheet">
<link href="static/css/m.css" rel="stylesheet"></head>
<body>
<a href="buy_search"><button>买票</button></a>
<a href="sell_search"><button>卖票</button></a>
</body>
</html>
